<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="app"></div>
    <%#= yield %>

    <%= javascript_pack_tag 'vendor' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
